<h2 class="side-panel-title">Nueva búsqueda</h2>

<ul class="list-group">
  <li *ngIf="query.patterns.length == 0" class="list-group-item list-group-item-info">
    <p class="mb-1">Click en la imagen para agregar puntos al polígono. Para cerrarlo vuelva a clickear el punto inicial.</p>
  </li>
  <li *ngFor="let pattern of query.patterns" class="list-group-item d-flex justify-content-between align-items-center"
        [ngStyle]="{'background-color': pattern.color}">
        <h5 class="mb-1">Área  #{{pattern.id}}</h5>
        <i class="fa fa-remove fa-2x" (click)="removePattern(pattern)"></i>
  </li>
</ul>
<div style="text-align: center;">
     <i class="fa fa-search fa-3x" (click)="doSearch()" [ngStyle]="{'color': query.patterns.length > 0 ? 'black' : 'grey'}"></i>
</div>
