<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Proyecto de Grado</a>

</nav>

<div class="container-fluid">
  <div class="row">

      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">

          <query *ngIf="tabsetVideo.activeId == 'newSearchTab'"></query>
          <result-list *ngIf="tabsetVideo.activeId != 'newSearchTab'"></result-list>


          <ul class="nav flex-column mb-2" id="resultados">
          </ul>
        </div>
      </nav>

    <main role="main" class="mainRole col-md-9 ml-sm-auto col-lg-10 px-4" id="prueba">
        <div class="justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <ngb-tabset #tabsetVideo [activeId]="activeId" (tabChange)="tabChange($event)">
              <ngb-tab id="newSearchTab">
                <ng-template ngbTabTitle><h3>Buscar</h3></ng-template>
                <ng-template ngbTabContent>
                    <video-canvas class="video-canvas"></video-canvas>
                </ng-template>
              </ngb-tab>
              <ngb-tab *ngFor="let search of searches" id='tab-search{{search.getValue().localId}}'>
                  <ng-template ngbTabTitle>
                      <h3 style="display: inline-block">Búsqueda #{{search.getValue().localId}}</h3>
                      <i *ngIf="search.getValue().loading" class="ml-2 fa fa-cog fa-spin fa-2x"></i>
                  </ng-template>
                    <ng-template ngbTabContent>
                        <show-search class="show-search"></show-search>
                    </ng-template>
              </ngb-tab>
            </ngb-tabset>
        </div>
    </main>
  </div>
</div>
