<div class="d-flex w-100">
    <h3 class="side-panel-title">Búsqueda #{{search.localId}}</h3>
    <i *ngIf="!search.loading && search.results.people.length != 0" class="fa fa-refresh fa-2x refreshBtnh" (click)="restartSearch()"></i>
</div>
<div *ngIf="search.loading">
    <ul class="list-group">
      <li class="list-group-item list-group-item-warning">
        <p class="mb-1">Búsqueda en progreso....</p>
      </li>
    </ul>
</div>
<div *ngIf="!search.loading && search.results">
    <div *ngIf="search.results.people.length > 0">
        <highcharts-chart
          [Highcharts]="Highcharts"
          [options]="chartOptions"

          style="width: 100%; height: 400px; display: block;"
          ></highcharts-chart>

          <p class="mb-1"> Filtrar por permanencia:</p>
         <ng5-slider [(value)]="minFilterValue" [(highValue)]="maxFilterValue" [options]="options"></ng5-slider>

           <p class="mb-1"> Filtrar por hora:</p>
           <div id="divSliderTimestamp">
              <ng5-slider [(value)]="minFilterTimestampValue" [(highValue)]="maxFilterTimestampValue" [options]="optionsTimestamp"></ng5-slider>
          </div>
    </div>
    <ul class="list-group">
      <li *ngIf="search.results.people.length == 0" class="list-group-item list-group-item-info">
        <p class="mb-1">Sin resultados.</p>
      </li>
      <li *ngFor="let person of search.results.people | filterInterval : minFilterValue:maxFilterValue:minFilterTimestampValue:maxFilterTimestampValue" class="list-group-item d-flex justify-content-between flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Person  #{{person.pid}}</h5>
              <i class="fa fa-eye fa-2x" (click)="showPose(person)"></i>
          </div>
          <p class="mb-1"> Vista por {{person.duracion}} minutos</p>
          <div class="flex-column">
              <mat-slider  [(ngModel)]="person.timestampSelected" [min]="person.timestamp_start" [max]="person.timestamp_end" step="1"></mat-slider>
              <button (click)="verFrame(person)" type="button" class="btn btn-secondary btn-sm">Ver frame</button>
          </div>
      </li>
    </ul>
</div>
