<div>
    <canvas #canvas class="my-4" id="canvas" style="position:relative">

    </canvas>

    <div [hidden]="search.target_frame" id="heatmapContainer">
        <div #heatmap class="my-4" id="heatmap">

        </div>
    </div>

    <div *ngIf="search.loading" style="position:absolute; top:30%;width: 1280px;text-align:center;background-color:#0603038c;" class="jumbotron d-flex align-items-center">
        <div class="container text-center">
            <circle-progress
          [percent]="search.progress"
          [radius]="100"
          [animation]="false"
          [animationDuration]="300"
          [subtitle]="'Procesando...'"
          [subtitleFontSize] = '12'
        ></circle-progress>
        </div>
    </div>


</div>
